DB_HOST=localhost
DB_PORT=3306
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=xlt

JWT_SECRET_KEY=your_jwt_secret_key

ES_HOST=your_elasticsearch_host
ES_PORT=9200

OSS_ACCESS_KEY_ID=your_oss_access_key_id
OSS_ACCESS_KEY_SECRET=your_oss_access_key_secret
OPENAI_API_KEY=your_openai_api_key
